<html>
    <head>
        <link rel="stylesheet" href="./css/IT.css">
        <script src="./assets/js/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.2.0/socket.io.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
        <script src="./Js/code.js"></script>
    </head>
    <body ng-app="myApp" ng-controller="data_set">
        <nav role="navigation" class="navbar navbar-default" style="position: fixed; top: 0; width: 100%; z-index: 5;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Email system</a>
            </div>
            <!-- Collection of nav links and other content for toggling -->
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                     <!--<li><a href="http://10.66.5.27:3004/" id="NavN">Groups</a></li>
                    <li><a href="http://10.66.5.27:3004/List.html" id="NavC">List</a></li>
                    <li class="active"><a href="http://10.66.5.27:3004/CheckIn.html" id="NavN">Check In</a></li>
                    <li><a href="http://10.66.5.27:3004/CheckOut.html" id="NavN">Check Out</a></li>
                    <li><a href="http://10.66.5.27:3004/AddItem.html" id="NavN">Add Item</a></li>
                   <li class="active"><a href="#/central" id="NavC">Central</a></li>
                    <li><a href="#/north" id="NavN">North</a></li>
                    <li><a href="#/south" id="NavS">South</a></li>
                    <li><a href="#/wr" id="NavWR">West River</a></li>
                    <li><a href="#/keystone" id="NavK">Keystone</a></li>
                    <li><a href="#/bookmobile" id="NavB">Bookmobile</a></li>-->
                    <!--<li><a href="#/mp" id="NavB">My Projects</a></li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!--<li><a href="#">Login</a></li>-->
                </ul>
            </div>
        </nav>
        <div style="margin-top:100px;"></div>
        <ng-form id="Item" name="Item" action="">
            <div class="col-xs-12"><label>To: <input type="text" ng-model="Item.s_To"/></label></div>
            <div class="col-xs-12"><label>From: <input type="text" ng-model="Item.s_From"/></label></div>
            <div class="col-xs-12"><label>Subject: <input type="text" ng-model="Item.s_Subject"/></label></div>
            <div class="col-xs-12"><label>Body: <input type="text" ng-model="Item.s_Body"/></label></div>
            <div class="col-xs-12"><label>Start Date:  {{Item.s_StartDate}} {{eStMonth}} {{eStDay}} {{eStYear}}
                
                <select style="width: 135px;" class="form-control" id="eStMonth" ng-model="eStMonth">
                    <option value="">---Month---</option>
                    <option value="01">Jan</option>
                    <option value="02">Feb</option>
                    <option value="03">Mar</option>
                    <option value="04">Apr</option>
                    <option value="05">May</option>
                    <option value="06">Jun</option>
                    <option value="07">Jul</option>
                    <option value="08">Aug</option>
                    <option value="09">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>                   
                </select>
                <select style="width: 135px;" class="form-control" id="Date" ng-model="eStDay">
                    <option value="">---Day---</option>
                    <option value="01">1</option>
                    <option value="02">2</option>
                    <option value="03">3</option>
                    <option value="04">4</option>
                    <option value="05">5</option>
                    <option value="06">6</option>
                    <option value="07">7</option>
                    <option value="08">8</option>
                    <option value="09">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>                  
                </select>
                <select style="width: 135px;" class="form-control" id="Date" ng-model="eStYear">
                    <option value="">---Year---</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>              
                </select>
                
                </label></div>
            <div class="col-xs-12"><label>Frequency: <input type="text" ng-model="Item.s_Frequency"/></label></div>
            <div class="col-xs-12"><input type="submit" ng-click="createItem(Item); redirect();" ng-model="Item.ItemSend" id="send"/></div>
        </ng-form>
    </body>
    <footer>
        
    </footer>
</html>